body {
    background: #f4f4f4;
    margin: 1px solid red;
}
#principal{
    width: 920px;

}
.noticia{
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}
.clear {
    clear: both;
}
.imagem-galeria {
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}