.conteudo{
    background: blue;
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}
/*.conteudo1{
    background: red;
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    float: ;
}*/

.clear {
    clear: both;
}

#principal {
    border: 1px solid red;
    background: green;
}